* {
    margin: 0;
    padding: 0;
}

.login .stream {
  overflow-wrap: break-word;
  font-family: 'Jockey One';
  font-weight: 400;
  font-size: 48px;
  color: #FFFFFF;
}
.login .container-2 {
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  box-sizing: border-box;
}
.login .lets-started {
  margin-left: 28px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 24px;
  color: #FFFFFF;
}
.login .lets-watch-an-interesting-film {
  margin: 0 9.4px 31px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 900;
  font-size: 36px;
  color: #FFFFFF;
}
.login .email-addres {
  margin: 0 3px 19px 3px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Manrope';
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}
.login .your-email-addres {
    width: 100%;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 14px;
    color: #000000;
    outline: none; 
    border: none;
}
.login .frame-401 {
    border-radius: 14px;
    border: 1px solid #000000;
    padding: 11px 13px;
    box-sizing: border-box;
}
.login .frame-447 {
  margin: 0 0 16px 3px;
  box-sizing: border-box;
}
.login .password {
  margin: 0 3px 15px 3px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Manrope';
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}
.login .your-password {
  width: 100%;
  font-family: 'Manrope';
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  outline: none; 
border: none;
}
.login .frame-4011 {
  border-radius: 14px;
  border: 1px solid #000000;
  padding: 11px 13px;
  box-sizing: border-box;
}
.login .frame-448 {
  margin-bottom: 50px;
  box-sizing: border-box;
}
.login .continue {
  font-family: 'Manrope';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  background: none;
  border: none;
  cursor: pointer;
}
.login .container {
  border-radius: 50px;
  background: #346089;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 11px 17px 11px 0;
  width: 398px;
}
.login .container-1 {
  border-radius: 50px;
  background: #FFFFFF;
  position: relative;
  margin-right: 1px;
  display: flex;
  flex-direction: column;
  padding: 61px 56px 51px 57px;
  width: fit-content;
  box-sizing: border-box;
}
.login {
  background: linear-gradient(178.43deg, #2C2121 1.3%, #346089 99.7%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px 80px 40px;
  width: 100%;
  box-sizing: border-box;
}
